.footer {
    padding: 12px 0;
    background-color: #2c3030;
    color: #fff;
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
    }
    &__subtitle {
        line-height: 1.43;
    }
}
.rights {
    font-size: 14px;
    line-height: 1.43;
    font-weight: 300;
    margin-top: 18px;
}
.go-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px 12px;
    .down {
        transform: rotate(180deg);
        height: 25px;
    }
}