// $default-font: "SofiaProExtraLight", Arial, sans-serif;
// $second-font: "FuturaPT-Demi", Arial, sans-serif;
// $title-font: "FuturaPT-Medium", Arial, sans-serif;

$accent: #009688;
$text: rgba(0, 0, 0, 0.8);
$err: #f54d3d;