footer.footer
    .wrap
        .footer__left
            .footer__title We are here to help!
            .footer__subtitle Have a qustion? Contact us
            .rights Castle © 2018 
        .footer__up
            a(href="#top").go-top#go-top
                svg.down
                    use(xlink:href='img/icons/down.svg#down') 

       
script(src="js/scripts.min.js")
script(src="js/common.js")