header
	nav
		.wrap
			.nav
				a(href="#").logo
					.logo__icon
						svg.shape
							use(xlink:href='img/icons/shape.svg#shape') 
					.logo__text Castle
				.menu-wrap
					.menu-toggle 
						.one
						.two
						.three

					nav.main-menu 
						ul
							li
								a(href="#") Orders
							li
								a(href="#") Transactions
							li
								a(href="#") Users
				.reg
					a(href="#").reg__item 
						.reg__item--text Notification
						svg.note
							use(xlink:href='img/icons/note.svg#note') 
					a(href="#").reg__item.login 
						.reg__item--text Account
						.login__icon
							svg.cabinet
								use(xlink:href='img/icons/cabinet.svg#cabinet') 
	.header
		.wrap
			.title 
				.title__icon 
					svg.down
						use(xlink:href='img/icons/down.svg#down') 

				.title__text Order Details
			.controls
				.btn Edit Order
				.btn.btn--green Respond to Order
				.btn.btn--green Create Transaction