header
	nav
		.wrap
			.nav
				.logo
					.logo__icon
					.logo__text Castle
				.menu-wrap
					.menu-toggle 
						.one
						.two
						.three

					nav.main-menu 
						ul
							li
								a(href="#") Orders
							li
								a(href="#") Transactions
							li
								a(href="#") Users
				.reg
					.reg__notification Notification
					.login 
						.login__text Account
						.login__icon
						


	.header
		.wrap
			.title Order Details
			.controls
				.btn Edit Order
				.btn.btn--green Respond to Order
				.btn.btn--green Create Transaction