header#top
	nav
		.wrap
			.nav
				a(href="#").logo
					.logo__icon
						img(src="img/shape.png", alt="logo").shape
					.logo__text Castle
				.menu-wrap
					.menu-toggle 
						.one
						.two
						.three

					nav.main-menu 
						ul
							li
								a(href="#") Orders
							li
								a(href="#") Transactions
							li
								a(href="#") Users
				.reg
					a(href="#").reg__item 
						.reg__item--text Notification
						img(src="img/note.png", alt="logo").note
					a(href="#").reg__item.login 
						.reg__item--text Account
						.login__icon
							img(src="img/cabinet.png", alt="logo").cabinet
							
	.header
		.wrap
			a(href="#").title 
				.title__icon 
					img(src="img/down.png", alt="logo").down
				.title__text Order Details
			.controls
				.btn.btn--small 
					.btn__icon
						img(src="img/eddit.png", alt="logo").eddit
					.btn--text Edit Order
				.btn.btn--green Respond to Order
				.btn.btn--green Create Transaction